/*@font-face {*/
/*            font-family: 'CookieRun-Regular';*/
/*            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');*/
/*            font-weight: normal;*/
/*            font-style: normal;*/
/*        }*/
        
        @font-face {
		  font-family: 'Binggrae';
		  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
		  font-weight: normal;
		  font-style: normal;
		}
		
        body {
/*            font-family: 'CookieRun-Regular', sans-serif;*/
/*            font-family: 'Bagel Fat One', sans-serif;*/
			  font-family: 'Binggrae', sans-serif;
        }
        
        .card-body {
			max-width: 30%;
			min-height: 70vh;
		}
		
		.card-header {
			width: 80%;
			margin:auto;
		}
        
        .navbar-nav img {
            max-width: 9vw; /* 네브바에 맞는 적절한 크기로 조정하세요 */
            max-height: auto; /* 네브바에 맞는 적절한 크기로 조정하세요 */
        }
        .navbar-nav {
            display: flex; /* Flexbox 레이아웃 사용 */
            justify-content: center; /* 수평으로 중앙 정렬 */
            align-items: center;  /* 수직으로 중앙 정렬 */
            height: 4vw;
            margin:auto;
        }
/*        .nav-link {*/
/*			font-size: 18px;*/
/*		}*/

		.navbar-nav .nav-item {
		    margin-right: 1vw; /* 오른쪽 마진 적용 */
		}
		
		#footer {
			width: 80%;
			margin:auto;
		}
/*		.footer {*/
/*		    padding: 20px;*/
/*		    line-height:15px;*/
/*		    position: fixed;*/
/*			bottom: 0px;*/
/*			width: 75%;*/
/*			margin:auto;*/
/*		}*/
/*		.footer {*/
/*		    padding: 20px;*/
/*		    display: block;*/
/*		    text-align: center;  텍스트 중앙 정렬 */
/*		    margin-top: auto;  상단 여백을 auto로 설정하여 body 컨텐츠의 아래에 위치하도록 합니다. */
/*		}*/
