<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="../static/css/templatemo_style.css" rel="stylesheet" type="text/css" th:href="@{/css/templatemo_style.css}"/>
</head>
<body>
<div th:fragment="footer" id="footer">
	<div id="templatemo_container">
	<div id="content_bottom"></div>
    <div id="templatemo_footer">
  		<ul class="footer_menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Blog</a></li>
            <li class="last_menu"><a href="#">Contact</a></li>
        </ul>
        
        Copyright © 2030 <a href="http://www.templatemo.com" target="_parent">Golden Tree</a>
	</div> <!-- end of footer -->
	<div class="cleaner"></div>
</div>
</div>
</body>
</html>