

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="header">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>금나무</title>
<link href="../static/css/templatemo_style.css" rel="stylesheet" type="text/css" th:href="@{/css/templatemo_style.css}"/>
</head>
<body>
<div id="templatemo_container">
	<div id="bulb"></div>
	<div id="templatemo_site_title_bar">	
        <div id="site_title">
            <h1>
                <a href="http://www.templatemo.com" target="_parent">금나무</a>
                <span>거래는 시작이 중요하다. <br>시작을 천천히, 그리고 최대한 낮은 평단에서 시작하라.</span>
            </h1>
        </div>
    </div> <!-- templatemo_site_title_bar -->
    
     <div id="templatemo_menu">
    	<ul>
            <li><a href="/" class="current fast">Home</a ></li>
            <li><a href="/">공지</a></li>
            <li><a href="/jongto">종토방</a></li>
        	<li><a href="/chatRoom">채팅방</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div> <!-- end of menu -->
</div>
</html>