<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.goldenTree.mapper.InvestMapper">
	
    <select id="findJongtoList" resultType="com.goldenTree.dto.JongtoBoardDto">
	    SELECT 
	        jongto_Id, 
	        jongto_sort, jongto_title, jongto_content, jongto_author, jongto_views,
	        DATE_FORMAT(jongto_createdDate, '%Y-%m-%d') as jongto_createdDate,
	        jongto_pass
	    FROM jongtoboard 
	    ORDER BY jongto_Id DESC 
	    LIMIT #{pageSize} OFFSET #{offset}
	</select>
    
    <select id="detailJongto" resultType="com.goldenTree.dto.JongtoBoardDto">
        select 
        	jongto_Id, jongto_sort, jongto_title, jongto_content, jongto_author, jongto_views,
	        DATE_FORMAT(jongto_createdDate, '%Y-%m-%d') as jongto_createdDate,
	        jongto_pass
	         from jongtoboard 
	         WHERE jongto_id = #{jongto_id}
    </select>
    
    <update id="updateJongtoViews">
	    UPDATE jongtoboard
	    SET jongto_views =#{views}+1
	    WHERE jongto_id = #{jongtoId}
	</update>
    
	<insert id="insertJongto" parameterType="com.goldenTree.dto.JongtoBoardDto">
	    INSERT INTO jongtoboard (
	        jongto_id,
	        jongto_sort,
	        jongto_title,
	        jongto_content,
	        jongto_author,
<!--	        jongto_views,-->
	        jongto_createdDate,
	        jongto_pass
	    ) VALUES (
	        #{jongto_id},
	        #{jongto_sort},
	        #{jongto_title},
	        #{jongto_content},
	        #{jongto_author},
<!--	        #{jongto_views},-->
	        #{jongto_createdDate},
	        #{jongto_pass}
	    )
	</insert>
	
	<delete id="deleteJongto" parameterType="String">
	    DELETE FROM jongtoboard
	    WHERE jongto_id = #{jongtoId} AND jongto_pass = #{jongtoPass}
	</delete>
	
	<select id="countJongtoBoard" resultType="Integer">
		SELECT COUNT(*) FROM jongtoboard;
	</select>
	
    
</mapper>