
    
    <table class="table" style="text-align: center; margin:auto; width:100% ">
								<thead>
									<tr>
										<th scope="col">번호</th>
										<th scope="col">종류</th>
										<th scope="col" colspan="3">제목</th>
										<th scope="col">작성자</th>
										<th scope="col">조회수</th>
										<th scope="col">등록일</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="jongtoBoard, iterStat : ${jongtoList}">
										<td th:text="${iterStat.index + 0}"></td>
										<td th:text="${jongtoBoard.jongto_id}"></td>
										<td th:text="${jongtoBoard.jongto_sort}"></td>
										<td colspan="3"><a th:text="${jongtoBoard.jongto_title}" th:href="@{/jongtoDetail(jongtoId=${jongtoBoard.jongto_id})}"
										style="cursor: pointer;"></a></td>
										<td th:text="${jongtoBoard.jongto_author}"></td>
										<td th:text="${jongtoBoard.jongto_views}"></td>
										<td th:text="${jongtoBoard.jongto_createdDate}"></td>
									</tr>
									<tr style="height: 15px;"></tr>
									<tr>
										<!-- 첫번째 페이지로 이동 -->
										<td colspan="7"><a href="#">이전</a>
										&ensp;&ensp;
										<a href="#">다음</a></td>
										<td><a href="/jongtoWrite">글쓰기</a></td>
									</tr>
								</tbody>
							</table>